/* html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
.App {
  min-height: 100vh;
} */

html,
body,
#root,
.App {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*******************************/
/* Navbar */
/*******************************/
.navbar {
  min-height: 5rem;
}
/*******************************/
/* End Navbar */
/*******************************/
/*******************************/
/* HERO */
/*******************************/
.hero .container {
  min-height: 60vh;
  background-repeat: no-repeat;

  /* background-attachment: ; */
}
/*******************************/
/* END HERO */
/*******************************/
/*******************************/
/* CAROUSEL */
/*******************************/

.swiper {
  position: relative;
}
.swiper-slide img {
  height: 15rem;
  width: 75%;
}

.card {
  max-height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  width: 5vmin;
  height: 5vmin;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  padding: 10px;
}

.swiper-button-prev {
  left: 5%;
  top: 40%;
  transform: rotate(-130deg);
}

.swiper-button-next {
  right: 5%;
  top: 40%;
  transform: rotate(45deg);
}

.swiper-button-prev::before,
.swiper-button-next::before {
  content: '';
  width: 100%;
  height: 100%;
  border-width: 0.9vmin 0.9vmin 0 0;
  border-style: solid;
  border-color: white;
  transition: 0.2s ease;
  display: block;
  transform-origin: 100% 0;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 0.9vmin 0 0;
  border-style: solid;
  border-color: white;
  transform-origin: 100% 0;
  transition: 0.2s ease;
}

.swiper-button-disabled::after,
.swiper-button-disabled::before {
  border-color: gray;
}
/*******************************/
/* END CAROUSEL */
/*******************************/
