/* html {
  min-height: 100vh;
}
body {
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
.App {
  min-height: 100vh;
} */

html,
body,
#root,
.App {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*******************************/
/* HERO */
/*******************************/
.hero .container {
  min-height: 60vh;
  background-repeat: no-repeat;

  /* background-attachment: ; */
}
/*******************************/
/* END HERO */
/*******************************/
/*******************************/
/* CAROUSEL */
/*******************************/
.swiper .swiper-slide {
  height: 15rem;
  /* background-color: lightgray; */
}
.swiper-slide img {
  height: 15rem;
}

/*******************************/
/* END CAROUSEL */
/*******************************/
